@font-face {
    font-family: 'Lemon Bold';
    src: url('../../fonts/LEMONMILK-Bold.eot');
    src: url('../../fonts/LEMONMILK-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('../../fonts/LEMONMILK-Bold.woff') format('woff'),
        url('../../fonts/LEMONMILK-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lemon Regular';
    src: url('../../fonts/LEMONMILK-Regular.eot');
    src: url('../../fonts/LEMONMILK-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/LEMONMILK-Regular.woff2') format('woff2'),
        url('../../fonts/LEMONMILK-Regular.woff') format('woff'),
        url('../../fonts/LEMONMILK-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lemon Medium';
    src: url('../../fonts/LEMONMILK-Medium.eot');
    src: url('../../fonts/LEMONMILK-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/LEMONMILK-Medium.woff2') format('woff2'),
        url('../../fonts/LEMONMILK-Medium.woff') format('woff'),
        url('../../fonts/LEMONMILK-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Bold';
    src: url('../../fonts/AvenirNextLTPro-Bold.eot');
    src: url('../../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Regular';
    src: url('../../fonts/AvenirNextLTPro-Regular.eot');
    src: url('../../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('../../fonts/AvenirNextLTPro-Bold.eot');
    src: url('../../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?tncq47');
  src:  url('../../fonts/icomoon.eot?tncq47#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?tncq47') format('truetype'),
    url('../../fonts/icomoon.woff?tncq47') format('woff'),
    url('../../fonts/icomoon.svg?tncq47#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
